streamlit
transformers
torch
pandas
accelerate
sentencepiece
faiss-cpu
chromadb
openai
google-generativeai
groq
pypdf
pymupdf
python-docx
unstructured
tiktoken
python-dotenv
sentence-transformers
numpy
scikit-learn
protobuf
safetensors
tokenizers
huggingface-hub
matplotlib
plotly
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
langchain-huggingface
langchain-chroma
langchain-faiss
langchain-google-genai
langchain-groq
langchain-anthropic